.spinner {
  margin: auto;
  height: 28px;
  width: 28px;
  animation: rotate 0.8s infinite linear;
  border: 4px solid #000;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}